@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gilroy';
    font-weight: 500;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

.text-gray {
    color: #808080;
    font-size: 18px;
}

.about-link {
    font-size: 40px;
    font-family: Gilroy;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgba(79,224,66,1) 0%, rgba(0,255,115,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}

.about {
    margin-top: 200px;
}

.about-me {
    color: #808080;
    font-size: 48px;
    font-family: 'Gilroy';
    font-weight: 500;
    animation: slideRight 1.2s forwards;
    display: inline-block;
    transform: translateX(50%);
}

.about-info {
    color: #fff;
}

.chel {
    margin-top: -100px;
}

@media (max-width: 790px) {
    .chel {
        display: none;
    }

    .project-block {
        text-align: center;
    }
}

h3 .text-wrapper:nth-of-type(1) .text {
    animation-delay: 0s;
}

h3 .text-wrapper:nth-of-type(2) .text {
    animation-delay: .15s;
}

@keyframes slideRight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}
.project {
    margin-top: 200px;
    margin-bottom: 100px;
}

.project-title {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 50px;
}

.project-block  {
    margin-bottom: 50px;
}

.project-photo {
    width: 250px;
    border-radius: 5px;
}

.project-info {
    margin-top: 10px;
}

.project-info a {
    font-style: 'Gilroy';
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
    color: rgb(152, 163, 157);
    transition: all 0.5s;
}

.project-info p {
    font-family: 'Gilroy-Medium';
    font-size: 500;
    color: #808080;
}

.project-list {
    margin-top: 50px;
    text-align: center;
}

.project-link {
    font-size: 28px;
    font-family: 'Gilroy';
    font-weight: 500;
}

.project-link a {
    text-decoration: none;
    color: #808080;
}

.project-link a:hover {
    text-decoration: underline;
    color: #333;
    transition: all 0.5s;
}

.btn:hover {
    color: #000;
    background-color: #808080;
    transition: all 0.5s;
}

.skill-block {
    margin-bottom: 70px;
}

.title-skill {
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Gilroy';
}

.skill-photo {
    width: 300px;  
    margin-left: 200px;
}

.progress-name {
    font-family: 'Gilroy';
    font-size: 18px;
}

.progress {
    margin-bottom: 50px;
}

.progress-bar {
    background-color: rgba(53, 251, 53, 0.646);
}

@media (max-width: 992px) {
    .skill-photo {
        width: 250px;
        margin-left: 0px;
    }

    .photo {
        text-align: center;
    }

    .progress-block {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
}

footer {
    position: absolute;
    width: 100%;
    min-height: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(28, 28, 28);
}

.footer-link {
    text-decoration: none;
    color: #808080;
}

.footer-link:hover {
    color: #fff;
    transition: all 0.5s;
}

.dev {
    margin-top: 30px;
}

.dev a {
    text-decoration: none;
    color: #4cf846;
    background-image: linear-gradient(to right, #4fe042, #00ff73);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}